@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #1b0321;
  color: #ffffff;
  
  
}
html{
    scroll-behavior: smooth;
}
.arrow {
  display: inline-block;
  font-size: 34px; /* arrow ka size */
  animation: bounce .5s infinite alternate; /* continuous up-down */
}

@keyframes bounce {
  0% { transform: translateY(0); }
  100% { transform: translateY(10px); } /* upar-niche distance */
}
